page-home{    
    .image-logo{
        width: auto;
        margin: auto;
        display: block;
    }
    
}
.toolbar-title{
    color:rgb(98%, 98%, 98%);
}
.image-logo{
    width: auto;
    margin: auto;
    display: block;
}
ion-content{
        background-color: #1976D2;
        background: -webkit-linear-gradient(305deg,#0D47A1,#42A5F5);
        background: linear-gradient(145deg,#0D47A1,#42A5F5);
        color: #fff;
}
.Angular4Learn{
    font-size: 9pt;
    color: rgb(27.1%, 35.3%, 39.2%);
}